._2tnqd0._1_l8MX ._2VeolH,
._2tnqd0._1_l8MX ._232NW7 {
	width: 100%;
}

._2tnqd0 {
	overflow: hidden;
	position: relative;
	-webkit-filter: none !important;
	filter: none !important;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="15" /></filter></svg>#filter');
}

._2tnqd0 .dImZt_ + ._2VeolH {
	opacity: 0;
}

._2tnqd0 ._2VeolH,
._2tnqd0 ._232NW7 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	transition: opacity 0.5s linear;
}

._2tnqd0 ._2VeolH {
	width: 100%;
	height: 100%;
}

._2tnqd0 ._232NW7 {
	opacity: 0;
}

._2tnqd0 ._2VeolH {
	opacity: 1;
	margin: auto;
}

._2tnqd0 ._3I5S6S {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="15" /></filter></svg>#filter');
	-webkit-filter: blur(15px);
	filter: blur(15px);
}

._2tnqd0 .dImZt_._232NW7 {
	opacity: 1;
	margin: auto;
}

._2tnqd0._2FRM9i ._2VeolH,
._2tnqd0._2FRM9i ._232NW7 {
	height: 100%;
}
